@charset "utf-8";

/* Reset */
body,div,dl,dt,dd,ul,ol,menu,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,figure,legend,textarea,p,blockquote,th,td,input,optgroup,select,textarea,button {margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display:block;}
fieldset,img {border:0;}
dl,ul,ol,menu,li {list-style:none;}
img,input,select,textarea,button {vertical-align:middle;}
hr, caption, legend {display:none;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
table {border-collapse:collapse;border-spacing:0;}
th {text-align:left;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:normal;}
abbr,acronym {border:0;}
blockquote, q {quotes:none}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none}
strong {font-weight:bold;}
button {cursor:pointer;border:0;background-color:transparent;}

/* Scaffolding */
body,h1,h2,h3,h4,th,td,input,select,button {font-weight:normal;font-size:12px;font-family:'돋움',dotum,sans-serif;line-height:1.5;color:#fff;}
a, a:hover, a:active, a:visited {color:#fff;text-decoration:none;cursor:pointer;}

body {background-color:#363535;}
.hidden {visibility:hidden;overflow:hidden;position:absolute;top:-99999px;left:-99999px;width:1px;height:1px;line-height:0;}
.clearfix {*zoom:1;}
.clearfix:before,
.clearfix:after {display:table;content:'';}
.clearfix:after {clear:both;}

#login_wrap, #slides, .visual-img li {position:absolute;top:0;right:0;left:0;bottom:0;}
#login_wrap {min-width:943px;min-height:820px;}
#slides {overflow:hidden;}
#contents {z-index:3;position:absolute;bottom:0;left:0;width:100%;background:url(//image.wemakeprice.com/images/partner/login/login_bg.png) repeat;}
#cnt_login {position:relative;width:923px;margin:0 auto;}
#footer {width:100%;padding-top:1px;background:url(//image.wemakeprice.com/images/partner/login/login_footer_bg.png) 0 0 repeat-x;}
.footer-inner {position:relative;width:923px;margin:0 auto;padding:11px 0 9px;}
.footer-inner li {padding-left:7px;background:url(//image.wemakeprice.com/images/partner/login/ico_login.png) 0 9px no-repeat;line-height:21px;color:#888;}
.footer-inner .btn-ethics{position:absolute;top:11px;right:0;width:203px;height:40px;background:#819e4a;color:#fff;font-size:14px;line-height:41px;text-align:center;}

#login_error {position:absolute;top:105px;right:0;max-width:440px;font-size:14px;color:#cf4646;}

.wrap-text {position:relative;width:923px;margin:0 auto;z-index:2;}
.visual-text li {position:absolute;top:100px;left:0;}
.visual-text li > img {
    position:absolute;
    -webkit-transition:opacity .5s ease;
    -moz-transition:opacity .5s ease;
    transition:opacity .5s ease;
    opacity:0;
}
.visual-text .txt-img1 {top:0;}
.visual-text .txt-img2 {top:74px;left:-5px;}
.visual-text .txt-img3 {top:153px;left:-5px;}
.visual-text .txt-img4 {top:255px;}
.visual-text .text-active {opacity:1;}

.btn-join {
    position:absolute;top:427px;display:block;width:136px;height:136px;border-radius:100%;background-color:#FF7F00;
    -webkit-transition:background-color 1s ease;
    -moz-transition:background-color 1s ease;
    transition:background-color 1s ease;
}
.btn-join > span {overflow:hidden;display:block;width:77px;height:23px;margin:56px auto 0;background:url(//image.wemakeprice.com/images/partner/login/btn_join_text.png) no-repeat;text-indent:-9999px;}
.wrap-text .btn-img1 {background-color:rgba(224,96,18,0.65);}
.wrap-text .btn-img2 {background-color:rgba(155,201,30,0.65);}
.wrap-text .btn-img3 {background-color:rgba(217,66,174,0.65);}

.visual-pager {z-index:100;position:absolute;bottom:248px;left:50%;margin-left:-28px;}
.visual-pager li {float:left;margin-left:10px;}
.visual-pager li:first-child {margin-left:0}
.visual-pager .pager-link {overflow:hidden;display:block;width:12px;height:12px;background:url(//image.wemakeprice.com/images/partner/login/ico_login.png) 0 -60px no-repeat;text-indent:-9999px}
.visual-pager .pager-active {background-position:0 -40px;}

.visual-img {z-index:1;}
.visual-img li {
    text-indent:-9999px;background-repeat:no-repeat;background-position:50% 0;background-size:cover;
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -ms-transform:translateX(100%);
    transform:translateX(100%);
}
.visual-img .img1 {background-image:url(//image.wemakeprice.com/images/partner/login/login_img1.jpg);}
.visual-img .img2 {background-image:url(//image.wemakeprice.com/images/partner/login/login_img2a.jpg);}
.visual-img .img3 {background-image:url(//image.wemakeprice.com/images/partner/login/login_img3.jpg);}
.visual-img .opaque {opacity:1;}
.visual-img .in {
    -webkit-transition:-webkit-transform .5s cubic-bezier(.11,.71,.18,.77);
    -moz-transition:-moz-transform .5s cubic-bezier(.11,.71,.18,.77);
    transition:transform .5s cubic-bezier(.11,.71,.18,.77);
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0);
}
.visual-img .out {
    -webkit-transition:-webkit-transform .5s cubic-bezier(.11,.71,.18,.77);
    -moz-transition:-moz-transform .5s cubic-bezier(.11,.71,.18,.77);
    transition:transform .5s cubic-bezier(.11,.71,.18,.77);
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    transform:translateX(-100%);
}

.login-form {padding-top:30px}
.login-form .item {float:left;position:relative;width:340px;height:60px;margin-right:20px;background-color:#565656;}
.login-form .item .label-iogin {position:absolute;top:20px;left:20px;font-weight:bold;font-size:18px;color:#888;line-height:20px;}
.login-form .item .input-login {width:300px;height:20px;padding:20px;border:0 none;background-color:transparent;font-weight:bold;font-size:18px;color:#fff;line-height:20px;}
.login-form .btn-login {display:inline-block;width:203px;height:60px;background-color:#767676;}
.login-form .btn-login span {font-weight:bold;font-size:18px;color:#c7c7c7;}

.login-option {padding:20px 0 27px;}
.login-option li {position:relative;float:left;margin-left:38px;font-size:16px;line-height:18px;}
.login-option li:first-child {margin-left:0}
.login-option .label-save {padding-left:21px;}
.login-option .input-save {position:absolute;top:1px;left:0;height:14px;width:14px;}

/* IE9 이하 처리를 위한 class 추가 */
.btn-join-older {position:absolute;top:427px;display:block;width:136px;height:136px;background:url(//image.wemakeprice.com/images/partner/login/btn_join.png) no-repeat;}
.wrap-text .btn-img1-older {background-position:0 0;}
.visual-img .img-none-older {background-image:none !important;}
