<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
 http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd" 
 >
<bean id="default-handler-mapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
	<mvc:annotation-driven/>
	<mybatis:scan base-package="com.mybatis.mapper"/>
	
	<mvc:interceptors>
	<mvc:interceptor>
	<mvc:mapping path="/**/RauctionView.kosmo"/>
	<mvc:mapping path="/**/JibnawaRauctionList.kosmo"/>
	<mvc:mapping path="/**/JibnawaIngList.kosmo"/>
	<mvc:mapping path="/**/JibnawaSucessList.kosmo"/>
	<mvc:mapping path="/**/bidaction.kosmo"/>
	<mvc:mapping path="/**/accInfoIns.kosmo"/>
	<mvc:mapping path="/**/accInfoIns2.kosmo"/>
	<bean id="loginInterceptor"
			class="com.jibnawa.rauction.CommInterceptor" />
			
	</mvc:interceptor>
	
	</mvc:interceptors>
	
	<!-- member controller 주입 시작-->
	<context:component-scan base-package="com.jibnawa.member">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>	
	</context:component-scan>
	
	<context:component-scan base-package="com.jibnawa.rauction">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>	
	</context:component-scan>
	<context:component-scan base-package="com.jibnawa.search">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>	
	</context:component-scan>
	
			<context:component-scan base-package="com.jibnawa.auctiontable">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>	
	</context:component-scan>
	
	<context:component-scan base-package="com.jibnawa.AucIns">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>	
		</context:component-scan>
	
	<context:component-scan base-package="com.jibnawa.AuctionCon">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>	
	</context:component-scan>
	
	<context:component-scan base-package="com.jibnawa.login">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>	
	</context:component-scan>
	
	<context:component-scan base-package="com.jibnawa.AuctionConSebu">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>	
	</context:component-scan>
	
		<context:component-scan base-package="com.jibnawa.board">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>	
	</context:component-scan>
	
 	<!-- member controller 주입 끝-->
 	
 	
 	<mvc:resources location="/images/" mapping="/images/**"/>	
 	<mvc:resources location="/js/" mapping="/js/**"/>	
<!-- 첨부 파일 관련 설정 추가 -->	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1048576"/>
	</bean>	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
</beans>














