<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<bean id="data-source" class="com.p6spy.engine.spy.P6DataSource">
		<constructor-arg ref="data-source-target" />
	</bean>
	<bean id="data-source-target"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<property name="url">
			<value>jdbc:oracle:thin:@192.168.0.84:1521:orcl11</value>
		</property>
		<property name="username">
			<value>scott</value>
		</property>
		<property name="password">
			<value>tiger</value>
		</property>
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="WEB-INF/mybatis-config.xml"/>
		<property name="dataSource" ref="data-source"/>
	</bean>
    <!-- 물리적으로 떨어져 있는 DB서버와 커넥션을 맺는데 필요한 정보를 로딩하기  -->	
    <!-- 위에서 맺은 커넥션 정보를 활용하여 필요한 쿼리문을 요청할 수 있는 상태 -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"/>
	</bean>	
	<!-- 위에서 맺은 커넥션 정보를 활용하여 필요한 쿼리문을 요청할 수 있는 상태 -->
	
    <bean id="jibnawaMemberDao" class="com.jibnawa.member.JibnawaMemberDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	<bean id="jibnawaRauctionDao" class="com.jibnawa.rauction.JibnawaRauctionDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
		<bean id="jibnawaSubidnDao" class="com.jibnawa.auctiontable.JibnawaSubidDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
		<bean id="jibnawaTenderDao" class="com.jibnawa.auctiontable.JibnawaTenderDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
		<bean id="jibnawaSearchDao" class="com.jibnawa.search.JibnawaSearchDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	<bean id="jibnawaAucInsDao" class="com.jibnawa.AucIns.JibnawaAucInsDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	<bean id="jibnawaAuctionConDao" class="com.jibnawa.AuctionCon.JibnawaAuctionConDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="data-source"/>
	
	
	</bean>
	
	<bean id="jibnawaLoginDao" class="com.jibnawa.login.JibnawaLoginDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<bean id="jibnawaAuctionConSebuDao" class="com.jibnawa.AuctionConSebu.JibnawaAuctionConSebuDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<bean id="jibnawaBoardDao" class="com.jibnawa.board.JibnawaBoardDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
</beans>



















